body {
    font-family: sans-serif;
    margin: 20px;
}

h1, h2 {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 120px;
    text-align: right;
    margin-right: 10px;
}

input[type="text"], input[type="number"] {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    padding: 8px 15px;
    background-color: #4CAF50; /* Verde */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
}

button:hover {
    background-color: #3e8e41;
}

p {
    margin-top: 10px;
    font-weight: bold;
}

img {
    max-width: 200px; /* Ajuste conforme necessário */
    height: auto;
    display: block;
    margin-top: 10px;
}

/* Estilizando as seções de cada carro */
h2 {
    margin-top: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
